<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/header.css">
</head>

<body>

  <div class="top">
    <div class="logo">
      <img src="/images/logo.png" />
    </div>
    <div class="navbar">
      <div class="tabs"><a href="/">Home</a></div>
      <div class="tabs relative group">
        <a href="/academic"> Academic Resources</a>

        <% if (!user) { %>
          <div
            class="hover-text">
            Please log in to access this.
          </div>
          <% } %>
      </div>
      <div class="tabs"><a href="/campus">Campus Insights</a></div>
      <div class="tabs"><a href="/know">Know Us</a></div>
    </div>
    <div class="login">
      <% if (user) { %>
        <a href="/logout"
          class="bg-red-600 text-white rounded-lg shadow-md hover:bg-red-700 transition duration-300">Logout</a>
        <% } else { %>
          <a href="#"
            class="bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
            onclick="openPopup()">Login/Sign Up</a>
          <% } %>
    </div>
  </div>
  <div id="log">
    <div class="popup-content ">
      <span class="close-btn" onclick="closePopup()">×</span>
      <h3 class="text-2xl py-2">Login / Sign Up</h3>

      <!-- Google Login Button -->
      <a href="/auth/google" class="google-login-btn">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Logo">
        <span>Login with Google</span>
      </a>

      <!-- OR Divider -->
      <div class="or-divider">OR</div>

      <!-- Create User Form (AJAX) -->
      <form id="createUserForm">
        <input type="text" placeholder="Username" name="username" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit" value="Create User">
        <div id="createMessage" class="text-sm mt-2"></div>
      </form>


      <!-- OR Divider -->
      <div class="or-divider">OR</div>

      <!-- Login Form -->
      <form action="/login" method="post">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>

  <script src="/js/header.js"></script>
</body>

</html>