<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
  <div class="box">
    <div class="navy">
      <%- include("partials/header") %>
    </div>
    
      <div class="content">
        <div class="left">
          <div>
          <h2>IIEST HUB</h2></div>
          <div><pre class="lcontent">Your Ultimate <br>      College Companian</pre></div>
          <div class="boy">
            <img src="/images/boy.png" alt="boy" class="w-full h-full object-contain">
          </div>
        </div>
        <div class="right">
          <div class="college">
            <img src="/images/college.png" alt="college" class="w-full h-full object-contain">
          </div>
          <div class="grp">
            <img src="/images/group.png" alt="group" class="w-full h-full object-contain">
          </div>

        </div>
      </div>
  </div>




</html>